<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
        <title>国际机票专家凯行网Airkx.com</title>
        <link rel="stylesheet" href="http://w.airkx.com/static/app.css">
        <% if (htmlWebpackPlugin && htmlWebpackPlugin.options && htmlWebpackPlugin.options.cdnConfig) { %>
            <% htmlWebpackPlugin.options.cdnConfig.css.forEach(item => { %>
            <link rel="stylesheet" href="<%=item %>">
        <%})}%>
    </head>
    <body>
        <div id="app"></div>
        <!-- built files will be auto injected -->
        <% if (htmlWebpackPlugin && htmlWebpackPlugin.options && htmlWebpackPlugin.options.cdnConfig) { %>
            <% htmlWebpackPlugin.options.cdnConfig.js.forEach(item => { %>
                <script src="<%=item %>"></script>
        <%})}%>
    </body>
</html>
