<div class="head-wrap" style="min-width:1024px;">
    <div class="head-top"> <a href="index.html" class="log"></a>
        <div class="head-kf">
            <div class="head-kfl">
                <div class="join-kx"> <span> <a href="login.html"> 登录 </a> <i>|</i> <a href="register.html">注册</a>
                    </span> <span style="display: none" ;=""> <b style="font-weight:normal;float:left;margin-left:10px;">欢迎：</b><span
                            class="useName"></span>&ensp;<a class="yonghutuichu" style="float:left;">我的订单</a><a class="yonghutuichu1"
                            style="float:left;">退出</a> </span> </div>
                <div class="head-kftell"> <span><i></i><a href="javascript:;">订票热线：010-64060909 &ensp;400-722-7722</a></span></div>
            </div>
            <div class="head-menu">
                <ul id="head_menu">
                    <li class="active-bji"><a href="javascript:;">预定机票</a><i></i></li>
                    <li><a href="javascript:;">签证保险</a><i></i></li>
                    <li><a href="javascript:;">超级攻略</a><i></i></li>
                    <li><a href="javascript:;">关于我们</a><i></i></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="head-bottom">
        <ul class="head-bottom-list active">
            <li class="active-borb"> <a href="internationalAirTicket.html"> <i class="hbi-1 active"></i> 国际航班 </a> </li>
            <li> <a href="inlandAirTicket.html"> <i class="hbi-2"></i> 国内航班 </a> </li>
            <li> <a href="studentTicket.html"> <i class="hbi-3"></i> 留学生机票 </a> </li>
            <li> <a href="customTravel.html"> <i class="hbi-4"></i> 定制行程 </a> </li>
        </ul>
        <ul class="head-bottom-list">
            <li> <a href="gobalVsia.html"> <i class="hbi-5"></i> 签证办理 </a> </li>
            <li> <a href="insuranceVisa.html"> <i class="hbi-6"></i> 境外保险 </a> </li>
        </ul>
        <ul class="head-bottom-list">
            <li> <a href="discount.html"> <i class="hbi-7"></i> 精选特惠 </a> </li>
            <li> <a href="overseasTourism.html"> <i class="hbi-8"></i> 境外旅游 </a> </li>
            <li> <a href="offshoreHotel.html"> <i class="hbi-9"></i> 境外酒店 </a> </li>
            <li> <a href="#"> <i class="hbi-10"></i> 每日摘要 </a> </li>
        </ul>
        <ul class="head-bottom-list">
            <li> <a href="companyProfile.html"> <i class="hbi-11"></i> 公司简介 </a> </li>
            <li> <a href="aboutUs.html"> <i class="hbi-12"></i> 业务介绍 </a> </li>
            <li> <a href="contactUs.html"> <i class="hbi-13"></i> 联系我们 </a> </li>
            <li> <a href="payType.html"> <i class="hbi-13"></i> 取票及付款 </a> </li>
            <li> <a href="talentRecruitment.html"> <i class="hbi-14"></i> 人才招聘 </a> </li>
            <li> <a href="feedback.html"> <i class="hbi-15"></i> 投诉建议 </a> </li>
        </ul>
    </div>
</div>